* {
  font-size: 40pt;
  color: white;
  box-sizing: border-box;
}

.pagetitle {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  top: 200px;
  font-size: 1000%;
  background-image: url(./references/purple.jpg);
  background-size: cover;
}

body {
  background-color: black;
  line-height: 1.5;
}

.headerlist {
  list-style-type: none;
  padding-right: 20px;
  overflow: hidden;
  background-color: #280067;
  font-size: 200%;
  border-top: white solid 2px;
  border-bottom: white solid 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.listItem {
  float: right;
  display: inline-block;
  margin-left: 25px;
}

.listItem a {
  text-decoration: none;
}

.NAV {
  display: block;
  height: 50px;
}

h2 {
  font-size: 200%;
  display: inline;
  text-align: center;
}

.aboutMeContainer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 30px;
}

.aboutMeHeader {
  flex: 1;
  font-size: 300%;
  text-align: right;
}

.aboutMeText {
  flex: 2;
  margin: auto;
  text-align: left;
  padding-right: 20px;
}

.aboutMeImage {
  width: 200px;
  height: 200px;
}

.aboutMeInformation {
  display: flex;
  flex: 3;
  border-left: solid #280067 1px;
  margin-left: 20px;
  padding-left: 30px;
}

.workContainer {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 30px;
}

.workHeader {
  flex: 1;
  font-size: 300%;
  text-align: right;
}

.mainPlaceHolder {
  border: solid 5px #280067;
  border-top: solid 30px #280067;
  background-image: linear-gradient(rgb(89, 0, 255, 0.1), rgba(89, 0, 255, 0.1)),
    url(./references/beerMeSample.JPG);
  background-size: cover;
  width: 100%;
  height: 500px;
}

.mainPlaceHolder:hover {
  cursor: pointer;
  background-image: url(./references/beerMeSample.JPG);
}

.textBlock {
  position: absolute;
}

.projects {
  flex: 3;
  border-left: solid #280067 1px;
  margin-left: 20px;
  padding-left: 30px;
}

.subprojects {
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin: 10px 0px;
}

.placeHolder {
  border: solid 5px #280067;
  border-top: solid 10px #280067;
  cursor: pointer;
  background-color: #280067;
  width: 49%;
  height: 200px;
}

#placeHolder1 {
  background-image: linear-gradient(rgb(89, 0, 255, 0.1), rgba(89, 0, 255, 0.1)),
    url(./references/dayPlannerSample.JPG);
  background-size: cover;
}

#placeHolder1:hover {
  cursor: pointer;
  background-image: url(./references/dayPlannerSample.JPG);
}

.projects a {
  text-decoration: none;
}

#placeHolder2 {
  background-image: linear-gradient(rgb(89, 0, 255, 0.1), rgba(89, 0, 255, 0.1)),
    url(./references/PasswordSample.JPG);
  background-size: cover;
}

#placeHolder2:hover {
  cursor: pointer;
  background-image: url(./references/PasswordSample.JPG);
}

#placeHolder3 {
  background-image: linear-gradient(rgb(89, 0, 255, 0.1), rgba(89, 0, 255, 0.1)),
    url(./references/bnwwood.jpeg);
  background-size: cover;
}

#placeHolder3:hover {
  cursor: pointer;
  background-image: url(./references/bnwwood.jpeg);
}

#placeHolder4 {
  background-image: linear-gradient(rgb(89, 0, 255, 0.1), rgba(89, 0, 255, 0.1)),
    url(./references/bnwforrest.jpeg);
  background-size: cover;
}

#placeHolder4:hover {
  cursor: pointer;
  background-image: url(./references/bnwforrest.jpeg);
}

#placeHolder5 {
  background-image: linear-gradient(rgb(89, 0, 255, 0.1), rgba(89, 0, 255, 0.1)),
    url(./references/bnwlava.jpeg);
  background-size: cover;
}

#placeHolder5:hover {
  cursor: pointer;
  background-image: url(./references/bnwlava.jpeg);
}

#placeHolder6 {
  background-image: linear-gradient(rgb(89, 0, 255, 0.1), rgba(89, 0, 255, 0.1)),
    url(./references/bnwwater.jpeg);
  background-size: cover;
}

#placeHolder6:hover {
  cursor: pointer;
  background-image: url(./references/bnwwater.jpeg);
}

.contactContainer {
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #280067;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-top: white solid 2px;
}

.contactFooter {
  flex: 2;
  justify-content: center;
  margin: Auto;
  font-size: 150%;
}

.contactImage {
  width: 75px;
  height: 75px;
  margin: 10px;
}

.footerList {
  padding-top: 10px;
  text-align: left;
}

@media all and (max-width: 600px) {
  .aboutMeContainer {
    flex-direction: column;
  }

  .aboutMeInformation {
    font-size: 10rem;
  }

  .aboutMeText {
    font-size: 1rem;
    width: 100%;
  }

  .aboutMeImage {
    display: none;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    display: none;
  }
}
